






  

  /* .pengelola__belum--verifikasi{
      color: #19A7CE;
      border: thin solid #19A7CE;
      border-radius: 0.2rem;
      padding:  0.6rem 2.4rem;
  }

  .pengelola__sudah--verifikasi{
      color: #fff;
      background-color: #19A7CE;
      border-radius: 0.2rem;
      padding:  0.6rem 2.4rem;
  }

  .pengelola__terkonfirmasi{
      color: #fff;
      background-color: #519259;
      border-radius: 0.2rem;
      padding:  0.6rem 2.4rem;
  }

  .pengelola__dibatalkan{
      color: #fff;
      background-color: #DF2E38;
      border-radius: 0.2rem;
      padding:  0.6rem 2.4rem;
  } */





  /* .btn__outline{
      border: thin solid #19A7CE;
  } */


  /* .btn__main{
    padding: 2.4rem 3.2rem !important;
    font-size: 1.6rem;
  }

  .btn__tambah-foto{
    color: #19A7CE !important;
    padding: 2.4rem 6.4rem !important;
  }

  .btn__simpan-perubahan{
    background-color: #146C94 !important;
    font-size: 2.4rem !important;
    padding: 3.2rem 6.4rem !important;
  }

  .btn__go-edit{
    background-color: #146C94 !important;
    font-size: 2.4rem !important;
    padding: 1.2rem 2.4rem !important;
  }



  .btn__unduh{
      background-color: #146C94 !important;
      font-size: 2.4rem !important;
      padding: 2.8rem 2.4rem !important;
  }

  .btn__close-dialog{
      background-color: #DF2E38 !important;
      font-size: 2.4rem !important;
      padding: 2.8rem 2.4rem !important;
  } */

  /* .btn__daftar-anchor{
      color:#146C94 !important;
  } */

      /* :root {
        font-size: 10px;
    } */


    /* .subtitle__thin{
        font-weight: 300;
        font-size: 2.4rem;
    }

    .title__main{
        font-weight: 700 !important; 
        font-size: 3.2rem !important;
    }

    .subtitle{
        font-weight: 600; 
        font-size: 2rem !important;
    }



    .title__medium{
        font-weight: 500;
        font-size: 3.2rem;
    } */

/*  */

    /* .regular-text{
        font-weight: 400;
        font-size: 1.8rem;
    }

    .regular-text__thin{
        font-weight: 300;
        font-size: 1.8rem;
    }

    .regular-text__medium{
        font-weight: 500;
        font-size: 1.8rem;
    }

    .regular-text__bold{
        font-weight: 700;
        font-size: 1.8rem;
    } */

    /*  */

    /* .bigger--regular-text{
        font-weight: 400;
        font-size: 2.2rem;
    }

    .bigger--regular-text__thin{
        font-weight: 300;
        font-size: 2.2rem;
    }

    .bigger--regular-text__medium {
        font-weight: 600;
        font-size: 2.2rem;
    }

    .bigger--regular-text__bold {
        font-weight: 700;
        font-size: 2.2rem;
    } */

    /* .card__regular{
        margin-top: 1.2rem;
        padding: 3.2rem;
    } */


/* 
    .title__paragraph{
        font-size: 2.8rem;
        font-weight: 600;
    } */


    /* .theme--light.v-icon {
      color: #146C94 !important;
  } 

  .v-snack__content{
      font-size: 1.4rem !important;
      color: white !important;
  }

  .v-btn__content{
      font-size: 1.6rem;
      font-weight: 400;
  }

  .v-list-item__title{
      font-size: 1.6rem !important;
      font-weight: 400;
  }

  .v-data-table-header tr th span, 
  .v-data-footer__select, 
  .v-data-table__empty-wrapper td,
  .v-data-footer__pagination{
      font-size: 1.4rem !important;
  }

  tbody tr td{
      font-size: 1.4rem !important;
  }

  .material-icons{
      color: #fff;
      padding: 0.2rem !important;
  }

  .accent--text{
      font-size: 1.2rem !important;
  }

  .v-date-picker-title__year, 
  .v-date-picker-title__date div{
      color: #fff !important;
  }

  textarea{
      padding-top: 0.6rem !important;
  }

  .v-select__selection--comma{
      font-size: 1.6rem !important;
  } */