.theme--light.v-icon {
    color: #146C94 !important;
} 

.v-snack__content{
    font-size: 1.4rem !important;
    color: white !important;

    @media only screen and (max-width: $bp-small) {
        font-size: 14px !important;
        line-height: 1.6 !important;
    }
}

.v-btn__content{
    font-size: 1.6rem;
    font-weight: 400;

    @media only screen and (max-width: $bp-small) {
        font-size: 14px !important;
    }
}

.v-list-item__title{
    font-size: 1.6rem !important;
    font-weight: 400;

    @media only screen and (max-width: $bp-small) {
        font-size: 14px !important;
    }
}

.v-data-table-header tr th span, 
.v-data-footer__select, 
.v-data-table__empty-wrapper td,
.v-data-footer__pagination{
    font-size: 1.4rem !important;

    @media only screen and (max-width: $bp-small) {
        font-size: 14px !important;
    }
}

tbody tr td{
    font-size: 1.4rem !important;
}

.material-icons{
    color: #fff;
    padding: 0.2rem !important;
}

.menu-icons{
    cursor: pointer;
    color: var(--color-primary) !important;
}

.navigation{
    &__menu{
        &-main{
            @media only screen and (max-width: $bp-large) {
                display: none !important;
            }
        }

        &-mobile{
            display: none !important;

            @media only screen and (max-width: $bp-large) {
                display: block !important;
            }  
        }
    }
}

.v-application--is-ltr .v-list-group--no-action>.v-list-group__items>.v-list-item{
    padding: 0 !important;
}


.accent--text{
    font-size: 1.2rem !important;
}

.v-date-picker-title__year, 
.v-date-picker-title__date div{
    color: #fff !important;
}

textarea{
    padding-top: 0.6rem !important;
}

.v-select__selection--comma{
    font-size: 1.6rem !important;

    @media only screen and (max-width: $bp-small) {
        font-size: 14px !important;
    }  
}

li{
    list-style: inside;

    @media only screen and (max-width: $bp-mobile) {
        line-height: 1.8;
    }  
}

// ul{
//     @media only screen and (max-width: $bp-small) {
//         margin: 0 0 0 10px;
//     }  
// }

.v-list-group__header{
    padding: 0 !important;
}

.v-textarea textarea {
    line-height: 1.5 !important;
}

.v-data-table__mobile-row__header,
.v-data-table__mobile-row__cell
{
    font-size: 12px !important;
}

.v-data-table__mobile-table-row{
    margin-bottom: 12px !important;
}

.v-data-table-header tr th span{
    @media only screen and (max-width: $bp-small) {
        font-size: 12px !important;
    }  
}

.v-chip__close{
    @media only screen and (max-width: $bp-small) {
        padding-left: 12px;
    } 
}

.v-select__selections{
    @media only screen and (max-width: $bp-small) {
        margin-top: 12px;    
    }  
}

.v-select__selection--comma{
    @media only screen and (max-width: $bp-large) {
        font-size: 14px !important;
    }  
}

.v-date-picker-header__value button{
    @media only screen and (max-width: $bp-largest) {
        font-size: 14px !important;
    }  
}