.image{
    &__grid{
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;

        &-parent{
            margin-top: 1.2rem;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 1.4rem;
            grid-row-gap: 1.4rem;

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
            }
        }

        &-child-1{
            width: 100%;
            height: 50vh;
            grid-area: 1 / 1 / 5 / 5;
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;

            @media only screen and (max-width: $bp-small) {
                grid-area: 1 / 1 / 2 / 2;
                height: 25vh;                
                background-position-x: center;
                background-position-y: center;
            }
        }

        &-child-2{
            grid-area: 1 / 5 / 3 / 7;
            @extend .image__grid;

            @media only screen and (max-width: $bp-large) {
                grid-area: 1 / 5 / 3 / 9;
            }

            @media only screen and (max-width: $bp-small) {
                grid-area: 2 / 1 / 3 / 2;
                height: 25vh;
                background-position-x: center;
                background-position-y: center;
            }
        }

        &-child-3{
            grid-area: 3 / 5 / 5 / 7;
            @extend .image__grid;

            @media only screen and (max-width: $bp-large) {
                grid-area: 3 / 5 / 5 / 9;
            }

            @media only screen and (max-width: $bp-small) {
                display: none;
            }
        }

        &-child-4{
            grid-area: 1 / 7 / 3 / 9;
            @extend .image__grid;

            @media only screen and (max-width: $bp-large) {
                display: none;
            }
        }

        &-child-5{
            grid-area: 3 / 7 / 5 / 9; 
            @extend .image__grid;

            @media only screen and (max-width: $bp-large) {
                display: none;
            }
        }
    }
}

.landing-content{
    &__grid{
        &-parent{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 1.2rem;
            grid-row-gap: 1.2rem;

            @media only screen and (max-width: $bp-medium) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3, 0.5fr);
            }
        }

        &-child-1{
            grid-area: 1 / 1 / 2 / 3;

            @media only screen and (max-width: $bp-small) {
                grid-area: 1 / 1 / 2 / 2;
            } 
        }

        &-child-2{
            grid-area: 2 / 1 / 3 / 3;

            @media only screen and (max-width: $bp-small) {
                grid-area: 2 / 1 / 3 / 2;
            } 
        }

        &-child-3{
            grid-area: 1 / 3 / 3 / 4;

            @media only screen and (max-width: $bp-medium) {
                grid-area: 1 / 3 / 3 / 5;
            } 

            @media only screen and (max-width: $bp-small) {
                grid-area: 3 / 1 / 4 / 2;
            } 
        }

        &__fasilitas-kos{
            margin-top: 12px;
            padding: 2.4rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 1.2rem;
            grid-row-gap: 0px;
            align-self: start;

            @media only screen and (max-width: $bp-large) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: repeat(2, auto);
                padding: 1.8rem;
                grid-column-gap: 12px;
            }

            &--child-1{
                text-align: left;
                grid-area: 1 / 1 / 2 / 2; 
                
                @media only screen and (max-width: $bp-large) {
                    grid-area: 1 / 1 / 2 / 2; 
                }
            }
            
            &--child-2{
                text-align: left;
                grid-area: 1 / 2 / 2 / 3;

                @media only screen and (max-width: $bp-large) {
                    grid-area: 1 / 2 / 2 / 3; 
                }
            }
        }
    }
}

.landing-booking{
    &__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 1.5rem;

        
        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-row-gap: 1.2rem;
        }
        

        // FOTO KAMAR, FASILITAS KAMAR
        &-child-1{
            grid-area: 1 / 1 / 3 / 2;

            @media only screen and (max-width: $bp-small) {
                grid-area: 1 / 1 / 2 / 2;
            }

            &__parent{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 1.5rem;
                grid-row-gap: 0.8rem;
            }

            &--child-1{
                grid-area: 1 / 1 / 2 / 2;
            }

            &--child-2{
                grid-area: 2 / 1 / 3 / 2;
            }
        }

        &__kamar-fasilitas{
            &--normal{
                @media only screen and (max-width: $bp-smallest) {
                    display: none;
                }
            }

            &__parent{
                display: none;

                @media only screen and (max-width: $bp-smallest) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 1fr;
                    grid-column-gap: 8px;
                    grid-row-gap: 0px;
                }
            }

            &--child-1{
                grid-area: 1 / 1 / 2 / 2;
            }

            &--child-2{
                grid-area: 1 / 2 / 2 / 3; 
            }

            &__bullet{
                @media only screen and (max-width: $bp-small) {
                    margin: 0 0 0 12px;
                }  
            }
        }

        // FOTO KAMAR MURNI
        &__foto-kamar{
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
            background-repeat: no-repeat;

            &__parent{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 0.5fr auto;
                grid-column-gap: 0.8rem;
                grid-row-gap: 0.8rem;

                @media only screen and (max-width: $bp-large) {
                    grid-template-rows: repeat(2, 0.5fr) auto;
                }
            }

            &--child-1{
                grid-area: 1 / 1 / 2 / 3;
                width: 100%;
                height: 25vh;
                @extend .landing-booking__grid__foto-kamar;

                @media only screen and (max-width: $bp-large) {
                    height: 15vh;
                }
            }

            &--child-2{
                grid-area: 2 / 1 / 3 / 2;   
                @extend .landing-booking__grid__foto-kamar;

                @media only screen and (max-width: $bp-large) {
                    grid-area: 2 / 1 / 3 / 3;  
                    height: 15vh; 
                }
            }

            &--child-3{
                grid-area: 2 / 2 / 3 / 3;
                @extend .landing-booking__grid__foto-kamar;

                @media only screen and (max-width: $bp-large) {
                    display: none;
                }
            }

            &--child-4{
                grid-area: 3 / 1 / 4 / 3;

                @media only screen and (max-width: $bp-small) {
                    margin-top: 12px;
                }
            }
        }

        ////////////////////////////////////
        // BOOKING KAMAR
        &-child-2{
            grid-area: 1 / 2 / 3 / 4;
            background-color: var(--color-white-dark);

            @media only screen and (max-width: $bp-small) {
                grid-area: 3 / 1 / 2 / 2;
            }

            &__parent{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                // grid-template-rows: repeat(2, 1fr) auto repeat(3, 1fr);
                grid-template-rows: repeat(5, auto);
                grid-column-gap: 0px;
                grid-row-gap: 1rem;
            }

            &--child-1{
                grid-area: 1 / 1 / 3 / 4; 
            }

            &--child-2{
                grid-area: 3 / 1 / 4 / 4;
                padding: 2.6rem;
                padding-bottom: 0rem;
                
                &--line{
                    border-bottom: 1px solid rgba(51,51,51,0.29) !important;
                }
            }

            &--child-3{
                grid-area: 4 / 1 / 7 / 4;
            }
        }

        // KAMAR
        &__kamar{
            &__parent{
                display: grid;
                grid-template-columns: 1fr 0.5fr 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 1rem;

                @media only screen and (max-width: $bp-large) {
                    grid-template-columns: 1fr auto 1fr;
                }

                @media only screen and (max-width: $bp-small) {
                    padding: 2.4rem !important;
                }

                @media only screen and (max-width: $bp-smallest) {
                    grid-template-columns: 1fr auto;
                }
            }

            &--child-1{
                grid-area: 1 / 1 / 3 / 2;
                padding: 2.4rem;

                @media only screen and (max-width: $bp-medium) {
                    padding: 1.8rem;
                }
            }
            
            &--child-2{
                grid-area: 1 / 3 / 2 / 4;
                padding: 2.4rem;

                @media only screen and (max-width: $bp-medium) {
                    padding: 1.8rem;
                }
            }
        }

        &__form-booking{
            &__parent{
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                grid-template-rows: repeat(5, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                @media only screen and (max-width: $bp-large) {
                    grid-template-columns: 1fr 0.75fr;
                }

                @media only screen and (max-width: $bp-medium) {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6, 0.25fr);
                }
            }

            &--child-1{
                grid-area: 1 / 1 / 6 / 2;
                padding: 1.2rem;
                padding-bottom: 4.8rem;
                
                &__wrapper{
                    padding: 2.4rem;
                }

                @media only screen and (max-width: $bp-small) {
                    padding: 2.8rem !important;
                }


                @media only screen and (max-width: $bp-medium) {
                    grid-area: 1 / 1 / 6 / 2;
                    padding-bottom: 2.4rem;
                }
            }

            &--child-2{
                grid-area: 1 / 3 / 6 / 4;
                padding: 1.2rem;

                &__wrapper{
                    padding: 2.4rem;

                    @media only screen and (max-width: $bp-small) {
                        padding: 3.6rem;
                    }
                }

                @media only screen and (max-width: $bp-large) {
                    grid-area: 1 / 2 / 6 / 3;
                }

                @media only screen and (max-width: $bp-medium) {
                    grid-area: 6 / 1 / 7 / 2;
                    padding: 0;
                }
            }
        }
    }

    &__dialog{
        width: 30% !important;

        @media only screen and (max-width: $bp-largest) {
            width: 40% !important;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 50% !important;
        }

        @media only screen and (max-width: $bp-small) {
            width: 70% !important;
        }

        @media only screen and (max-width: $bp-smallest) {
            width: 90% !important;
        }

        &--parent{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        &--child-1 { 
            grid-area: 1 / 1 / 2 / 3; 

            line-height: 1.8;
        }

        &--child-2 { 
            grid-area: 2 / 1 / 3 / 3; 

            display: flex;
            align-items: center;
            justify-content: center;

            margin-bottom: 16px;
        }

        &--child-3 { 
            grid-area: 3 / 1 / 4 / 3; 
            margin-top: 16px;

            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            
            &__btn{
                width: 75% !important;

                @media only screen and (max-width: $bp-smallest) {
                    width: 85% !important;
                }

                @media only screen and (max-width: $bp-mobile) {
                    width: 90% !important;
                }
            }

            &--1 { 
                grid-area: 1 / 1 / 2 / 2; 
            }

            &--2 { 
                grid-area: 1 / 2 / 2 / 3; 
            }

        }
        
    }
}

.peraturan-biaya__grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.2rem;
    grid-row-gap: 0px;

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 1.2rem;
    }

    &--child-1{
        grid-area: 1 / 1 / 3 / 4;

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 1 / 1 / 2 / 2;
        }
    }

    &--child-2{
        grid-area: 1 / 4 / 3 / 6;

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 2 / 1 / 3 / 2;
        }
    }
}

.vueperslides--fixed-height { 
    height: 75rem; 
}

.vueperslides{
    @media only screen and (max-width: $bp-medium) {
        display: none;
    }
}

.bulan-text{
    padding-top: 1.6rem !important;

    @media only screen and (max-width: $bp-small) {
        padding-top: 0;
    }
}

.image-dialog{
    max-width: 60vw;

    @media only screen and (max-width: $bp-small) {
        max-width: 90vw !important;
    }
}