.cust-rincian-pesanan{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    @media only screen and (max-width: $bp-smallest) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, auto);
    }

    &__title{
        grid-area: 1 / 1 / 2 / 6;

        display: grid;
        align-items: flex-start;
        justify-content: flex-start;

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 1 / 1 / 2 / 2; 

        }
    }
    
    &__counter{
        grid-area: 2 / 1 / 3 / 4; 

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 2 / 1 / 3 / 2; 
        }

        &--parent{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;


        }

        &--child-1{
            grid-area: 1 / 1 / 2 / 2;

            display: grid;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
        }

        &--child-2{
            grid-area: 1 / 2 / 2 / 3;
            display: flex;
            align-items: flex-start;
            align-items: flex-end;
        }

    }

    &__rincian-transaksi{
        grid-area: 3 / 1 / 4 / 4; 

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 4 / 1 / 5 / 2; 
        }

        &--parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-column-gap: 0px;
            grid-row-gap: 15px;
        }

        &--template{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
            
        &--child-1 { 
            grid-area: 1 / 1 / 2 / 3; 

            display: grid;
            align-items: center;
            justify-content: flex-start;
        }

        &--child-2 { 
            grid-area: 2 / 1 / 3 / 3; 

            &--line{
                border-bottom: 1px solid rgba(51,51,51,0.29) !important;
            }
        }

        &--child-3 { 
            grid-area: 3 / 1 / 4 / 2; 
            @extend .cust-rincian-pesanan__rincian-transaksi--template;
        }
        
        &--child-4 { 
            grid-area: 3 / 2 / 4 / 3; 
            @extend .cust-rincian-pesanan__rincian-transaksi--template;
        }
        
        &--child-5 { 
            grid-area: 4 / 1 / 5 / 2; 
            @extend .cust-rincian-pesanan__rincian-transaksi--template;
        }
        
        &--child-6 { 
            grid-area: 4 / 2 / 5 / 3; 
            @extend .cust-rincian-pesanan__rincian-transaksi--template;
        }
        
        &--child-7 { 
            grid-area: 5 / 1 / 6 / 2; 
            @extend .cust-rincian-pesanan__rincian-transaksi--template;
        }
        
        &--child-8 { 
            grid-area: 5 / 2 / 6 / 3; 
            @extend .cust-rincian-pesanan__rincian-transaksi--template;
        }
    }

    &__pricing{
        grid-area: 4 / 1 / 7 / 4; 

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 5 / 1 / 8 / 2; 
        }

        &__parent{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(7, auto);
            grid-column-gap: 0px;
            grid-row-gap: 1.2rem;
        }

        &--child-1 { 
            grid-area: 1 / 1 / 2 / 5; 
            background-color: var(--color-white-dark);

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 0px;
            grid-row-gap: 0.8rem;
            padding: 1.8rem;

            @media only screen and (max-width: $bp-small) {
                grid-area: 1 / 1 / 2 / 5; 
            }

            &--template{
                display: grid;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
            }

            &__title-1 {
                grid-area: 1 / 1 / 2 / 2;               
                @extend .cust-rincian-pesanan__pricing--child-1--template;
            }
            
            &__title-2 {
                grid-area: 1 / 2 / 2 / 3;
                @extend .cust-rincian-pesanan__pricing--child-1--template;
            }
            
            &__title-3 { 
                grid-area: 2 / 1 / 3 / 2; 
                @extend .cust-rincian-pesanan__pricing--child-1--template;
            }
            
            &__title-4 { 
                grid-area: 2 / 2 / 3 / 3; 
                @extend .cust-rincian-pesanan__pricing--child-1--template;
            }

        }

        &--child-2 { 
            grid-area: 2 / 1 / 3 / 5; 

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 1.2rem;
            padding: 0 1.8rem;


            @media only screen and (max-width: $bp-large) {
                // grid-template-columns: 1fr 0.5fr 1fr 1fr;
            }

            &__child-1 {
                grid-area: 1 / 1 / 2 / 3; 
                display: grid;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
            }
            
            &__child-2 {
                grid-area: 1 / 2 / 2 / 3; 
                display: grid;
                align-items: flex-start;
                justify-content: flex-start;
                text-align: left;
            }

        }
        
        &--child-3 { 
            grid-area: 3 / 1 / 4 / 5; 

            &--line{
                border-bottom: 1px solid rgba(51,51,51,0.29) !important;
            }
        }

        &--child-4 { 
            grid-area: 4 / 1 / 5 / 5; 

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 1.2rem;
            grid-row-gap: 1.2rem;
            padding: 1.8rem;
            padding-bottom: 0;

            @media only screen and (max-width: $bp-small) {
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;
                padding: 14px;
            }


            &__transfer-1 { 
                grid-area: 1 / 1 / 3 / 2; 

                display: grid;
                align-items: flex-start;
                justify-content: flex-start;

                @media only screen and (max-width: $bp-small) {
                    grid-area: 1 / 1 / 2 / 2; 
                }
            }

            &__transfer-2 { 
                grid-area: 1 / 2 / 3 / 3; 
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;

                @media only screen and (max-width: $bp-small) {
                    grid-area: 2 / 1 / 3 / 2; 
                }

                &__row{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                }
            }

        }

        &--child-5 { 
            grid-area: 5 / 1 / 6 / 5; 

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 1.8rem;
        }

        &--child-6 { 
            grid-area: 6 / 1 / 7 / 5; 
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 1.8rem;
            line-height: 2;

            @media only screen and (max-width: $bp-small) {
                margin-bottom: 16px;
            }
        }

        &--child-7 { 
            grid-area: 7 / 1 / 8 / 5; 
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            padding: 1.8rem;
            padding-bottom: 0;
        }
    }
    
    &__alamat{
        grid-area: 2 / 4 / 3 / 6; 

        @media only screen and (max-width: $bp-smallest) {
            display: none; 
        }
    }

    &__pemesan{
        grid-area: 3 / 4 / 4 / 6; 

        word-break: break-all;
        white-space: normal;

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 3 / 1 / 4 / 2; 
        }

        &--template{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        &--parent{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-column-gap: 1.2rem;
            grid-row-gap: 1.6rem;

            @media only screen and (max-width: $bp-large) {
                grid-template-columns: 1fr;
                grid-row-gap: 4px;
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-row-gap: 12px;
                grid-template-columns: 0.5fr 1fr;
                grid-template-rows: repeat(5, auto);
            }
        }

        &--child-1 {
            display: flex;
            text-align: left;
            grid-area: 1 / 1 / 2 / 3; 

            @media only screen and (max-width: $bp-large) {
                grid-area: 1 / 1 / 2 / 2; 
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-area: 1 / 1 / 2 / 3; 
           }
        }

        &--child-2 {
            grid-area: 2 / 1 / 3 / 3; 

            &--line{
                border-bottom: 1px solid rgba(51,51,51,0.29) !important;
            }

            @media only screen and (max-width: $bp-large) {
                grid-area: 2 / 1 / 3 / 2; 
                margin-bottom: 10px;
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-area: 2 / 1 / 3 / 3;
                margin-bottom: 0; 
            }
        }

        &--child-3 {
            grid-area: 3 / 1 / 4 / 2;
            @extend .cust-rincian-pesanan__pemesan--template;

            @media only screen and (max-width: $bp-large) {
                grid-area: 3 / 1 / 4 / 2; 
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-area: 3 / 1 / 4 / 2;
            }
        }

        &--child-4 {
            grid-area: 3 / 2 / 4 / 3;
            @extend .cust-rincian-pesanan__pemesan--template; 

            @media only screen and (max-width: $bp-large) {
                grid-area: 4 / 1 / 5 / 2; 
                margin-bottom: 10px;
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-area: 3 / 2 / 4 / 3;
                margin-bottom: 0;
            }
        }

        &--child-5 { 
            grid-area: 4 / 1 / 5 / 2; 
            @extend .cust-rincian-pesanan__pemesan--template;

            @media only screen and (max-width: $bp-large) {
                grid-area: 5 / 1 / 6 / 2; 
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-area: 4 / 1 / 5 / 2; 
            }
        }

        &--child-6 { 
            grid-area: 4 / 2 / 5 / 3; 
            @extend .cust-rincian-pesanan__pemesan--template;

            @media only screen and (max-width: $bp-large) {
                grid-area: 6 / 1 / 7 / 2; 
                margin-bottom: 10px;
            }

              @media only screen and (max-width: $bp-smallest) {
                grid-area: 4 / 2 / 5 / 3; 
                margin-bottom: 0;
            }
        }

        &--child-7 { 
            grid-area: 5 / 1 / 6 / 2; 
            @extend .cust-rincian-pesanan__pemesan--template;

            @media only screen and (max-width: $bp-large) {
                grid-area: 7 / 1 / 8 / 2; 
            }

            @media only screen and (max-width: $bp-smallest) {
                grid-area: 5 / 1 / 6 / 2; 
            }
        }

        &--child-8 { 
            grid-area: 5 / 2 / 6 / 3; 
            @extend .cust-rincian-pesanan__pemesan--template;

            @media only screen and (max-width: $bp-large) {
                grid-area: 8 / 1 / 9 / 2; 
                margin-bottom: 10px;
            }

              @media only screen and (max-width: $bp-smallest) {
                grid-area: 5 / 2 / 6 / 3; 
                margin-bottom: 0;
            }
        }


    }

    &__maps{
        grid-area: 4 / 4 / 5 / 6; 

        @media only screen and (max-width: $bp-smallest) {
            display: none; 
        }

    }
    
    &__button{
        grid-area: 5 / 4 / 6 / 6; 

        @media only screen and (max-width: $bp-small) {
            line-height: 2;
        }

        @media only screen and (max-width: $bp-smallest) {
            grid-area: 8 / 1 / 9 / 2; 
        }
    }

    .btn-transfer{
        width: 35%;

        @media only screen and (max-width: $bp-large) {
            width: 50%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }
    }

    .card-pesanan{
        margin-top: 1.2rem;
        padding: 3.2rem;

        @media only screen and (max-width: $bp-medium) {
            padding: 16px;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 12px;
        }
    }    
}

.dialog-lokasi__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 12px;
    grid-row-gap: 12px;

    &--child-1 { 
        grid-area: 1 / 1 / 2 / 3; 
        display: grid;
        align-items: center;
        justify-content: flex-start;
    }

    &--child-2 { 
        grid-area: 2 / 1 / 3 / 2; 
        display: grid;
        align-items: center;
        justify-content: flex-start;
    }

    &--child-3 { 
        grid-area: 2 / 2 / 3 / 3; 
        display: grid;
        align-items: center;
        justify-content: flex-end;
    }

    &--child-4 { 
        grid-area: 3 / 1 / 4 / 3; 
        display: grid;
        align-items: center;
        justify-content: center;
    }

}

.dialog-pesanan-cust{
    max-width: 25vw;

    @media only screen and (max-width: $bp-large) {
        max-width: 35vw;
    }

    @media only screen and (max-width: $bp-small) {
        max-width: 50vw;
    }

    @media only screen and (max-width: $bp-smallest) {
        max-width: 75vw;
    }
}
